version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: dw-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: dw_user
      POSTGRES_PASSWORD: dw_pass
      POSTGRES_DB: dw
    ports:
      - "5432:5432"
    volumes:
      - /mnt/d/postgres/pgdata:/var/lib/postgresql/data

